#text-typing {
    white-space: pre-wrap;
    font-family: monospace;
}

.text-error {
    background: darkred;
}

@-webkit-keyframes blinking-cursor {
    0%   { background-color: midnightblue; }
    49% { background-color: midnightblue; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100% { background-color: midnightblue; }
}
@-moz-keyframes blinking-cursor {
    0%   { background-color: midnightblue; }
    49% { background-color: midnightblue; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100% { background-color: midnightblue; }
}
@keyframes blinking-cursor {
    0%   { background-color: midnightblue; }
    49% { background-color: midnightblue; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100% { background-color: midnightblue; }
}
.text-current {
    -webkit-animation: blinking-cursor 0.6s infinite;
    -moz-animation:    blinking-cursor 0.6s infinite;
    animation:         blinking-cursor 0.6s infinite;
}