
main > section {
    color: #fff;
    min-height: 100vh;
    padding-top: 2em;
    padding-bottom: 2em;
    box-sizing: border-box;
}

section > figure {
    height: 100vh;
    background-size: contain !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

/* Vertical centring hack */
.feature-container {
    display: table;
    height: 100vh;  
}

.feature {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;
    padding-right: 1em; 
}


#section1 {
    background-color: #FF7518;
}

#section1 > figure {
    background: url("../img/hands.png");    
}

#section2 {
    background-color: #9954BB;
}

#section2 > figure {
    background: url("../img/plan.png");
}

#section3 {
    background-color: #3FB618;
}

#section3 > figure {
    background: url("../img/graph.png");
}

#section4 {
    background-color: #2780E3;
}

#section4 > figure {
    background: url("../img/free.png");
}
