.navbar {
    margin: 0 !important;
}

.btn {
    border-radius: 200px;
}

nav .fb-picture {
    height: 50px;
    width: auto;    
}

/* Make up for the fixed navbar */
main {
    padding-top: 60px;
}