body
{
	font: 20px "Montserrat", sans-serif;
	line-height: 1.8;
	color: #f5f6f7;
}
.container-fluid
{
	padding-top: 20px;
	padding-bottom: 20px;
}
.bg-1
{
	background-color: #1abc9c;
	color: #ffffff;
}
.bg-2 
{ 
	background-color: #474e5d; /* Dark Blue */
	color: #ffffff;
}
.bg-3 
{ 
	background-color: #ffffff; /* White */
	color: #555555;
}
.bg-4 
{ 
	background-color: #2f2f2f;
	color: #ffffff;
}
.logo
{
	width:200px;
	height:200px;
	display:inline;
}
.navbar 
{
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 15px;
	/*letter-spacing: 2px;*/
}
.navbar-nav li a:hover 
{
	color: #1abc9c !important;
}
.clear
{
	clear:both;
}

.modal-header
{
	text-align: left;
}
#index_modal 
{
	color: #000000;
}
#login-form, #reg-form
{
	font-size: 15px;
	text-align: left;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-right: 10px;
}
#login-form label
{
/*padding-left: 5px;*/
}
#modal-button
{
	padding-bottom: 10px;
}
#reg-modal
{
	display:none;
}